.section-form {
  padding: 25px 30px;
}

.form-header {
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  font-size: 30px;
  color: #665ba7;
}

.form-footer {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 20px;
}

.form-logo img {
  transition: transform 0.5s;
}

.form-logo img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.form-input-custom {
  display: flex;
  flex-direction: column;
  padding: 8px 0 8px 0;
}

.form-input-custom label {
  margin-bottom: 5px;
}

.form-input-custom input {
  padding: 10px;
  outline: none;
  height: 40px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-input-custom input[type="file"] {
  height: auto;
}

.form-input-custom input:focus {
  border-color: #4e4b4b;
  transform: scale(1.05);
  transition: transform 0.4s ease;
}

.btn-form-submit {
  height: 45px;
  border: none;
  color: #fff;
  font-size: 17px;
  background: linear-gradient(to right, #4a69bb, #4a3985);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 13px;
  margin-bottom: 20px;
  width: 100%;
}

.btn-form-submit:hover {
  transform: scale(1.05);
  transition: transform 0.4s ease;
}

.btn-form-submit:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

.link-register a {
  color: #333;
  text-decoration: none;
}