.container {
  background: #fff;
  border-radius: 16px;
  width: 500px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.center-item {
  display: flex;
  justify-content: center;
  justify-content: center;
}

.item-column {
  display: flex;
  flex-direction: column;
}

.item-row {
  display: flex;
  flex-direction: row;
}

.item-row-around {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
