.main-container {
  display: inline-block;
  min-width: 500px;
  max-width: 2000px;
  border: 1px solid black;
}

@media screen and (max-width: 767px) {
  .main-container {
    min-width: 100vw;
    min-height: 100vh;
  }
}
